# Build outputs
[Bb]in/
[Oo]bj/

# Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.cache
*.tmp

# Frontend vendor
wwwroot/lib/

# NuGet
*.nupkg
*.snupkg
packages/

# Test results / coverage
TestResults/
*.coverage
*.coveragexml

# ASP.NET Core secrets / configs
appsettings.*.json
!appsettings.json
*.env

# Misc
*.bak
*.old
